* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 30px;
}

button {
  height: 40px;
  width: 50%;
  background-color: #ff6565;
  color: white;
  border: 0;
  border-radius: 5px;
  align-self: center;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;

  scale: 1.05;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 50px 50px 50px;
  box-shadow: 0px 0px 20px 4px grey;
  border-radius: 15px;
}
.input-div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-wrapper div {
  display: flex;
  flex-direction: column;
  width: 47%;
  text-align: left;
}

.creditCard {
  background-image: url(./images/creditCardBackground.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 1;
  top: 60px;
  border-radius: 6px;
}

.creditCard__top,
.creditCard__bottom {
  display: flex;
  justify-content: space-between;
}

.creditCard__top img {
  width: 35px;
  height: 35px;
}

.creditCard__number {
  align-self: flex-start;
}

.creditCard__bottom__holder {
  text-align: left;
}

.creditCard__bottom__date {
  text-align: right;
}

.little__title {
  font-size: 12px;
  color: #414141;
}
